/* ------Inicia Clases Magenta------ */
.fondo-azul-oscuro {
  background-color: #171d2d;
}

.fondo-midnight-green {
  background-color: #084c61;
}

.fondo-sea-blue {
  background-color: #086788;
}

.fondo-electric-blue {
  background-color: #0e8dd1;
}

.fondo-timberwolf {
  background-color: #d6d9ce;
}

.font-azul-oscuro {
  color: #171d2d;
}

.font-midnight-green {
  color: #084c61;
}

.font-sea-blue {
  color: #086788;
}

.font-electric-blue {
  color: #0e8dd1;
}

.font-timberwolf {
  color: #d6d9ce;
}

.index-background-color {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #086788 -25%, #171d2d 100%);
  background-repeat: no-repeat;
}

.index-logo-texto{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-texto {
  font-size: 30px;
  color: #d6d9ce;
  padding: 25px;
  border: 3px solid #d6d9ce;
  border-radius: 10px;
}

.index-centerHV {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.index-quieresSer {
  margin: 0 0 50px 0;
}

.btn-sideMargin {
  margin: 0 10px;
}
/* ------Termina Clases Magenta------ */


/* -----Clases Mariana-----*/

/* -----Clases Pari-----*/
.driverConfirm-altura{
  margin-top: 35%;
}
#validar{
background-color: #0e8dd1;
}

/* -----Termina Clases Pari-----*/

/*-------clases user-signup------*/
.arrow-prev{
	font-size: 3rem;
}
