/* ------Inicia Clases Magenta------ */
.fondo-azul-oscuro {
  background-color: #171d2d;
}

.fondo-midnight-green {
  background-color: #084c61;
}

.fondo-sea-blue {
  background-color: #086788;
}

.fondo-electric-blue {
  background-color: #0e8dd1;
}

.fondo-timberwolf {
  background-color: #d6d9ce;
}

.font-azul-oscuro {
  color: #171d2d;
}

.font-midnight-green {
  color: #084c61;
}

.font-sea-blue {
  color: #086788;
}

.font-electric-blue {
  color: #0e8dd1;
}

.font-timberwolf {
  color: #d6d9ce;
}
/* ------Termina Clases Magenta------ */
#geolocation_mapDriver, #map_route {
  display: block;
	width: 95%;
	height: 350px;
	margin: 0 auto;
	-moz-box-shadow: 0px 5px 20px #ccc;
	-webkit-box-shadow: 0px 5px 20px #CCC;
	box-shadow: 0px 5px 20px #CCC;
  border: 5px solid #0e8dd13;
}

#geolocation_mapDriver {
    background: #58B;
}

.btn-driverService, .btn-driverServiceMap {
  margin: 5%;
}

/* ------Termina Clases Grace------ */
