/* ------Inicia Clases Magenta------ */
.fondo-azul-oscuro {
  background-color: #171d2d;
}

.fondo-midnight-green {
  background-color: #084c61;
}

.fondo-sea-blue {
  background-color: #086788;
}

.fondo-electric-blue {
  background-color: #0e8dd1;
}

.fondo-timberwolf {
  background-color: #d6d9ce;
}

.font-azul-oscuro {
  color: #171d2d;
}

.font-midnight-green {
  color: #084c61;
}

.font-sea-blue {
  color: #086788;
}

.font-electric-blue {
  color: #0e8dd1;
}

.font-timberwolf {
  color: #d6d9ce;
}
/* ------Termina Clases Magenta------ */

/* -----Clases Mariana-----*/

/*-------clases user-signup------*/
.arrow-prev{
	font-size: 3rem;
}