<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <title>Angeles azules - main</title>
</head>
<body>



  <script src="../js/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="../js/materialize.min.js" charset="utf-8"></script>
  <script src="../js/magenta_main.js" charset="utf-8"></script>
</body>
</html>
