<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="../css/materialize.min.css"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link rel="stylesheet" href="../css/sweetalert.css">
		<link rel="stylesheet" href="../css/main.css"/>
		<title>Document</title>
	</head>
	<body>
		<section class="container">
			<header class="row">
				<div class="col s12 fondo-sea-blue center">
					<h4 class="font-white">Angeles azules</h4>
				</div>
				<div class="col s12 fondo-electric-blue center">
					<h5 class="font-white">Ingresar</h5>
				</div>
				<i class="material-icons font-sea-blue arrow-prev">
					<a href="../views/userInit.html">&#xE314;</a>
				</i>
			</header>
			<div class="row">
				<form id="validate-user" class="col s10 offset-s1">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="icon_prefix" type="text" class="validate" required>
							<label for="icon_prefix">Usuario</label>
						</div>
						<div class="input-field col s12">
							<i class="material-icons prefix">lock</i>
							<input id="icon_password" type="password" class="validate" required>
							<label for="icon_password">Contraseña</label>
						</div>
					</div>
					<div >
						<div id="fb-root"></div>
						<div class="fb-login-button left" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
						<button type="submit"  class=" right btn fondo-midnight-green font-timberwolf">
							<i class="material-icons right">send</i>
							Siguiente 
						</button>

					</div>

				</form>
			</div>

		</section>
		<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=695792160622068";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '695792160622068',
					cookie     : true,
					xfbml      : true,
					version    : 'v2.8'
				});
				FB.AppEvents.logPageView();   
			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
		</script>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/materialize.min.js"></script>
		<script src="../js/sweetalert.min.js"></script>
		<script src="../js/user-login.js"></script>
	</body>
</html>
