<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="../css/materialize.min.css">
		<link rel="stylesheet" href="../css/main.css">
		
		<title>Document</title>
	</head>
	<body class="index-background-color">

		<div class="index-logo-texto">
			<span class="logo-texto center">
				Angeles <br>
				Azules
			</span>
		</div>
		<div class="index-btn-container row">
			<div class="col m10">
				<div class="index-quieresSer font-timberwolf center">
					<h4>Quieres ser:</h4>
				</div>
				<div class="index-btns">
					<a href="UserLogin.html"class="waves-effect waves-light btn btn-sideMargin fondo-timberwolf font-electric-blue">Inciar Sesion</a>
					<a href="userSignUp.html" class="waves-effect waves-light btn btn-sideMargin fondo-timberwolf font-electric-blue">Registrarte</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js" charset="utf-8"></script>
		<script src="../js/materialize.min.js" charset="utf-8"></script>
	</body>
</html>
