<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Angeles azules - User Sign up</title>
</head>
<body>

  <header class="row">
    <div class="col s12 fondo-sea-blue center">
      <h4 class="font-white">Angeles azules</h4>
    </div>
    <div class="col s12 fondo-electric-blue center">
      <h5 class="font-white">Registro de forma de pago</h5>
    </div>
  </header>

  <main>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate">
            <label for="username">Número de tarjeta</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="date" class="datepicker">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">CVV</label>
          </div>
        </div>
      </form>
    </div>
  </main>

  <footer class="fondo-timberwolf">
    <div class="container fondo-timberwolf">
      <div class="row">
        <div class="col l6 s12 center">
          <h5 class="font-sea-blue">Envía tus datos </h5>
          <a href="userService.html" class="waves-effect waves-light btn btn-sideMargin fondo-sea-blue font-timberwolf">Enviar</a>
        </div>
      </div>
    </div>
    <div class="container fondo-timberwolf center ">
      <p class="font-electric-blue btn-bottomMargin">Aviso de privacidad</p>
      <p class="font-electric-blue btn-bottomMargin">Contáctanos</p>
      <p class="font-azul-oscuro btn-bottomMargin"> © 2017 Angeles Azules</p>
    </div>
  </footer>

  <script src="../js/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="../js/materialize.min.js" charset="utf-8"></script>
  <script src="../js/magenta_userPayment.js" charset="utf-8"></script>
</body>
</html>
