<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link rel="stylesheet" href="../css/materialize.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<title>Angeles Azules</title>
	</head>
	<body>
		<header class="row">
			<div class="col s12 fondo-sea-blue center">
				<h4 class="font-white">Angeles azules</h4>
			</div>
			<div class="col s12 fondo-electric-blue center">
				<h5 class="font-white">Solicitar chofer</h5>
			</div>
			<i class="material-icons font-sea-blue arrow-prev"><a href="../views/UserLogin.html">&#xE314;</a></i>
		</header>
		<section class="container">
			<div class="row">
				<div class="col s10 offset-s1">
					<div class="map-user-service"></div>
				</div>
			</div>
			<div class="right">
				<h3>
					<button type="submit"  class="btn fondo-midnight-green font-timberwolf">
						<i class="material-icons right">send</i>
						Siguiente 
					</button>
				</h3>
			</div>
		</section>
		<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5drcGnjgz94bWdpoxsEUg4vl2Ck0tuJc">
		</script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="../js/materialize.min.js" charset="utf-8"></script>
		<script src="../js/gmaps.js" charset="utf-8"></script>
		<script src="../js/user-service.js"></script>
	</body>
</html>